<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/attraction.css')}}">
    <script src="{{url_for('static',filename='js/attraction.js')}}"></script> -->
    <link rel="stylesheet" href="/public/CSS/attraction.css">
    <script src="/public/js/attraction.js"></script>
</head>
<body>
    <div style="display:none;" class="login-class"></div>
    <div class="login-box"  style="display:none;">
        <img src="/public/images/close.png" class="close-png" onclick="closeInput();">
        <div style="background-color: #489; height: 10px; width: 100%; border-radius: 6px 6px 0 0;"></div>
        <div style="display: flex; justify-content: center;font-size: 24px; font-weight: bold;   margin: 15px;">登入會員帳號</div>
        <input type="text" placeholder="輸入電子信箱" class="text-input login-email">
        <input type="password" placeholder="輸入密碼" class="text-input login-password">
        <div class="login-text" onclick="login();">登入帳戶</div>
        <div class="message"></div>
        <div style="font-size: 16px; margin-bottom: 15px;font-weight: bold; cursor: pointer;" onclick="goRegister();">還沒有帳戶? 點此註冊</div>
    </div>

    <div class="register-box"  style="display:none;">
        <img src="/public/images/close.png" class="close-png"  onclick="closeRegister();">
        <div style="background-color: #489; height: 10px; width: 100%; border-radius: 6px 6px 0 0;"></div>
        <div style="display: flex; justify-content: center;font-size: 24px; font-weight: bold;   margin: 15px;">註冊會員帳號</div>
        <input type="text" placeholder="輸入姓名" class="text-input name-text">
        <input type="text" placeholder="輸入電子信箱" class="text-input email-text">
        <input type="password" placeholder="輸入密碼" class="text-input password-text">
        <div class="login-text" onclick="register();">註冊新帳戶</div>
        <div class="error-message"></div>
        <div style="font-size: 16px; margin-bottom: 15px;font-weight: bold; cursor: pointer;"  onclick="goLogin();">已經有帳戶了? 點此登入</div>
    </div>
    
    <navigation class="navigation">
        <div class="nav-box">
            <div class="Frame-2">
                <div class="text-taipei" onclick="GoHome();">台北一日遊</div>
            </div>
            <div class="Frame-1">
                <button class="button" onclick="GoBookingCheck();">預定行程</button>
                <button class="button login-button" style="display: block;" onclick="loginBlock();">登入/註冊</button>
                <button class="button logout-button" style="display: none;" onclick="logoutBlock();">登出系統</button>
            </div>
        </div>
        </div>
    </navigation>
    <div class="display-flex">
        <section>
            <div class="image-box"><div class="circle-flex"></div><img class="leftArrow" src="/public/images/leftArrow.png" onclick="leftArrow();"><img class="rightArrow" src="/public/images/rightArrow.png" onclick="rightArrow();"></div>
            <div class="text-box">
                <div class="view-title"></div>
                <div class="view-text"></div>
                <div class="booking">
                    <div style="font-weight: bold; margin-bottom: 15px;">訂購導覽行程</div>
                    <div style="margin-bottom: 15px;color:#666;">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                    <div class="booking-text">選擇日期：<input type="date" class="date"></div>
                    <div class="check-box">選擇時間：
                    <div class="check-flex" onclick="check_top();"><img src="/public//images/radio.png" id="check-top"  style="padding-right: 5px;">上半天</div>
                    <div class="check-flex" onclick="check_bottom();"><img src="/public//images/radio.png" id="check-bottom"  style="padding-right: 5px;">下半天</div>
                    </div>
                    <div class="booking-text">導覽費用： <span class="booking-text money">尚未選擇行程</span></div>
                    <div class="go-btn" onclick="bookingInsert();">開始預約行程</div>
                </div>
            </div>
        </section>
    </div>

    <div class="gray-line-flex"><hr class="gray-line"></div>
    
    <div class="infor-flex">
        <div class="infor">
            <div class="infor-text"></div>
            <div class="point booking-text">景點地址：</div>
            <div class="point-text"></div>
            <div class="traffic booking-text" >交通方式：</div>
            <div class="traffic-text"></div>
        </div>
    </div>
    
    
    <footer>COPYRIGHT © 2021 台北一日遊</footer>
</body>
</html>